In [2]:
# 引入依赖库
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# 数据载入
data = pd.read_csv('data/2012_Federal_Election_Commission_Database.csv')
data.head()

,cand_nm,contbr_nm,contbr_st,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt
0,"Bachmann, Michelle","HARVEY, WILLIAM",AL,RETIRED,RETIRED,250.0,20-JUN-11
1,"Bachmann, Michelle","HARVEY, WILLIAM",AL,RETIRED,RETIRED,50.0,23-JUN-11
2,"Bachmann, Michelle","SMITH, LANIER",AL,INFORMATION REQUESTED,INFORMATION REQUESTED,250.0,05-JUL-11
3,"Bachmann, Michelle","BLEVINS, DARONDA",AR,NONE,RETIRED,250.0,01-AUG-11
4,"Bachmann, Michelle","WARDENBURG, HAROLD",AR,NONE,RETIRED,300.0,20-JUN-11

数据中各字段含义如下：

- cand_nm – 接受捐赠的候选人姓名
- contbr_nm – 捐赠人姓名
- contbr_st – 捐赠人所在州
- contbr_employer – 捐赠人所在公司
- contbr_occupation – 捐赠人职业
- contb_receipt_amt – 捐赠数额（美元）
- contb_receipt_dt – 收到捐款的日期

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001731 entries, 0 to 1001730
Data columns (total 7 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   cand_nm            1001731 non-null  object
 1   contbr_nm          1001731 non-null  object
 2   contbr_st          1001727 non-null  object
 3   contbr_employer    988002 non-null   object
 4   contbr_occupation  993301 non-null   object
 5   contb_receipt_amt  1001731 non-null  float64
 6   contb_receipt_dt   1001731 non-null  object
dtypes: float64(1), object(6)
memory usage: 53.5+ MB

In [7]:
data.describe()

       contb_receipt_amt
count       1.001731e+06
mean        2.982352e+02
std         3.749667e+03
min        -3.080000e+04
25%         3.500000e+01
50%         1.000000e+02
75%         2.500000e+02
max         2.014491e+06